@page "/"

<h1>Running a machine learning model from Blazor WASM</h1>
<hr />
<h5>
    An example of the ML workflow on a time prediction analysis, and presentation in a Blazor WASM application.
</h5>
<br /><br />
<strong>
<h2>Crude Oil Stock Price</h2>
</strong>
<hr />
<p>
    In this post I am going to show how to solve an interesting machine learning problem based on data published in the community kaggle, about the price of crude oil shares, where we estimate a closing price prediction model.
</p>


