@page "/"

<h3>Running a machine learning model from Blazor WASM</h3>
<hr />
<p>
    An example of the ML workflow on a time prediction analysis, and presentation in a Blazor WASM application.
</p>

<br />
<SurveyPrompt Title="How is Blazor working for you?" />
