table tbody {
    display: block;
    max-height: 140px;
    overflow-y: scroll;
}

    table thead, table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.td-inf {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right:20px;
}

input {
    border: none !important;
    font-family: 'Calibri';
    font-size: 13px;
    width:120px;
}

    textarea:focus, input:focus {
        outline: none;
    }

.command{
    cursor:pointer;
    margin-left:10px;
    margin-right:10px;
    color:cadetblue;
}
