table tbody {
    display: block;
    max-height: 140px;
    overflow-y: scroll;
}

    table thead, table tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

.td-inf {
    font-weight: bold;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-right: 20px;
}

input {
    border: 1px solid lightgray;
    font-family: 'Calibri';
    font-size: 13px;
}

    select:focus, input:focus {
        outline: none;
        border: 1px solid lightgray;
    }
    /* override defaul icon for input type date */
    input[type="date"]::-webkit-calendar-picker-indicator {
        background-image: url('images/calendar.png');
        width: 16px;
        height: 16px;
    }

.command {
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
}

    .command:hover {
        color: Highlight;
    }

select {
    font-family: 'Calibri';
    font-size: 13px;
    border: 1px solid lightgray;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
}
