@page "/trainer"

<h3>Trainer</h3>
<hr />
<p>
    The training runs from a console application, independent of this Blazor application. In it, you can continue training the model with new data or analysis. It has a publishing function that replaces the files on the server and informs the REST service, everything is done without affecting the front end.
</p>
